body {
    margin: 60px auto;
    width: 75%;
}
@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    body {
        width: 95%;
    }
}

nav{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
    right: 0%;
    top: 0px;
    background: #fff;
    opacity: .8;
    z-index: 100;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

nav l1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav {
    display: inline-block;
    float: right;
}
nav a {
    line-height: 150px;
    margin-left: 20px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav a:hover {
    color: white;
}
nav.smaller {
    height: 75px;
}
nav.smaller l1#logo {
    width: 150px;
    height: 75px;
    line-height: 75px;
}

nav.smaller nav a {
    line-height: 75px;
}

@media all and (max-width: 660px) {
    nav h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
   nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    nav.smaller {
        height: 75px;
    }
    nav.smaller h1#logo {
        height: 40px;
        line-height: 40px;
    }
    nav.smaller nav {
        height: 35px;
    }
    nav.smaller nav a {
        line-height: 35px;
    }
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 8%;
}

@media only screen and (max-width: 800px) and (-webkit-device-pixel-ratio: 2) {
    nav ul li {
        display: inline;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 600px) and (-webkit-device-pixel-ratio: 2) {
    nav ul li {
        display: inline;
        margin-right: 3%;
    }
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


#cover {
  background: url("/Castle.JPG") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  width: 100%;
  bottom: 20px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
  width: 70%;
}

div.cover-content h1{
  color:white;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #7cffbb;
    font-size: .8em;
}

div.container {
  text-align: center;
}

div.thumbnail {
  padding: .2%;
  position: relative;
  display: inline-block;
  width: 48.8%;
}

div.top_image {
  position: relative;
  display: inline-block;
  
}
div.thumbnail img{
  position: relative;
  display: inline-block;
  width: 100%;
}

div.top_image img{
  position: relative;
  display: inline-block;
  width: 100%;  
}

@media only screen and (max-width: 800px) and (-webkit-device-pixel-ratio: 2) {
    div.thumbnail {
        width: 46.6%;

    }
}

@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    div.thumbnail {
        width: 97%;
    }
}


div.lay {
  display:block;
  position: absolute;
  top: 0;
  bottom: 5;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7cffbb;
}

@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    div.laya, div.lay{
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .6;
  transition: .5s ease;
  background-color: #7cffbb;
    }
}


div.laya{
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d2ffaa;
}

div.thumbnail:hover div.lay{
  opacity: 1;
}

div.top_image:hover div.laya{
  opacity: .9;
}

div.text {
  color: white;
  font-size: 3.5vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text2 {
    color: white;
  font-size: 2vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text3 {
  color: white;
  font-weight: bold;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    div.text, div.text2 {
  width: 90%;
  color: white;
  font-size: 7vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
     }
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
