body {
    margin: 60px auto;
    width: 75%;
    align: center;
    position: relative;
    top: 70px;
}



nav{
    width:100%;
    display: inline-block;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    list-style: none;
    font-weight: bold;
    position: fixed;
    margin: 0 auto;
    top: 0px;
    padding-top: 10px;
    background: #fff;
    opacity: .8;
    z-index: 100;
    -webkit-transition: height .3s;
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    transition: height .3s;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: justify;
    width: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

nav li{
  float: left;
  text-align: center;
  width: 7.7%;

}

nav a{
  position: relative;
  top: 16px;
}

nav a:hover {
    color:#7cffbb;
}

div.top_image{
  min-width: 100px;
  min height: 100px;
  position: relative;
  right: 20px;
}


nav.smaller div.top_image{
      max-width:50px;
      max-height:50px;
      min-width:50px;
      min-height:50px;
      position: relative;
      left: 0px;
}


nav ul li, footer ul li {
    display: inline;
    padding-right: 9%;
}

@media only screen and (max-width: 800px) and (-webkit-device-pixel-ratio: 2) {
    nav ul li {
        padding-right:9%;
    }
}

@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    body {
        width: 95%;
    }

    nav ul li {
        position: relative;
        left: 3%;
        padding-right: 12%;
    }

}

@media only screen and (max-width: 500px) and (-webkit-device-pixel-ratio: 2) {
    div.top_image {
      max-width:60px;
      max-height:60px;
      min-width:50px;
      min-height:50px;
      position: relative;
      right: -0px;
    }

    nav ul li {
        
        padding-right: 12%;
    }

    body {
      top: 35px;
    }
}

@media only screen and (max-width: 400px) and (-webkit-device-pixel-ratio: 2) {
    nav ul li {
        padding-right:12%;
    }
}



footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

footer a:hover{
  color:#7cffbb;
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

#cover {
  background: url("/Havana.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  width: 100%;
  bottom: 20px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
  width: 70%;
}

div.cover-content h1{
  color:white;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #7cffbb;
    font-size: .8em;
}

div.container {
  text-align: center;
}

div.top_image {
  position: relative;
  display: inline-block;
}

div.top_image img{
  position: relative;
  display: inline-block;
  width: 100%;  
}

div.thumbnail {
  vertical-align: text-top;
  padding: .2%;
  position: relative;
  display: inline-block;
  width: 48.8%;
}

div.thumbnail img{
  position: relative;
  display: inline-block;
  width: 100%;
}

@media only screen and (max-width: 800px) and (-webkit-device-pixel-ratio: 2) {
    div.thumbnail {
        width: 46.6%;
    }
}



div.lay {
  display:block;
  position: absolute;
  top: 0;
  bottom: 5;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7cffbb;
}

@media only screen and (min-width: 700px){
    div.thumbnail:hover div.lay{
        opacity: 1;
    }
}

div.top_image:hover div.laya{
    opacity: .9;
}

div.text {
  color: white;
  font-size: 3.5vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text2 {
    color: white;
  font-size: 2vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text3 {
  color:#7cffbb;
  font-weight: bold;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  bottom: -20px;
}

div.text4{
  color: white;
  font-size: 3.5vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
   opacity: 1;
}

@media only screen and (max-width: 700px) and (-webkit-device-pixel-ratio: 2) {
    div.thumbnail {
        width: 97%;
    }
    div.text, div.text2, div.text4{
        width: 90%;
        color: white;
        font-size: 7vw;
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     }
}

@media only screen and (min-width: 700px) and (-webkit-device-pixel-ratio: 2){
    div.text4{
        opacity: 0;
    }
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


