

body {
    margin: 60px auto;
    width: 75%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 8%;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

.image_off, #home:hover .image_on{
    height: 50px;
    width: auto;
   display:none
}
.image_on, #home:hover .image_off{
    height: 50px;
    width: auto;
   display:block
}


#topimage:hover div.lay{
    opacity: 1;
}

#cover {
  background: url("https://blog.kaspersky.com/files/2015/12/train-hack-featured-1.jpg") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  width: 100%;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
  width: 70%;
}

div.cover-content h1{
  color:white;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

div.thumbnail {
  position: relative;
  display: inline-block;
  width: 49.5%;
}
div.thumbnail img{
  position: relative;
  display: inline-block;
  width: 100%;
}



div.lay {
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


div.laya{
  display:inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #faa;
}

div.thumbnail:hover div.lay{
  opacity: 1;
}

div.text {
  color: white;
  font-size: 3.5vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text2 {
    color: white;
  font-size: 2vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
