body {
    margin: 60px auto;
    width: 75%;
}
@media only screen and (max-width: 600px){
    body {
        width: 95%;
    }
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 8%;
}

@media only screen and (max-width: 700px){
    nav ul li {
        display: inline;
        margin-right: 5%;
    }
}
@media only screen and (max-width: 500px){
    nav ul li {
        display: inline;
        margin-right: 3%;
    }
}


a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}


#cover {
  background: url("/Castle.JPG") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  width: 100%;
  bottom: 20px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  top: 30%;
  text-align: center;
  width: 70%;
}

div.cover-content h1{
  color:white;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #7cffbb;
    font-size: .8em;
}

div.container {
  text-align: center;
}

div.thumbnail {
  padding: .2%;
  position: relative;
  display: inline-block;
  width: 48.8%;
}

div.top_image {
  position: relative;
  display: inline-block;
  
}
div.thumbnail img{
  position: relative;
  display: inline-block;
  width: 100%;
}

div.top_image img{
  position: relative;
  display: inline-block;
  width: 100%;  
}

@media only screen and (max-width: 700px){
    div.thumbnail {
        width: 46.6%;

    }
}

@media only screen and (max-width: 600px){
    div.thumbnail {
        width: 97%;
    }
}


div.lay {
  display:block;
  position: absolute;
  top: 0;
  bottom: 5;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7cffbb;
}

@media only screen and (max-width: 600px){
    div.laya, div.lay{
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: .6;
  transition: .5s ease;
  background-color: #7cffbb;
    }
}


div.laya{
  display:block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #d2ffaa;
}

div.thumbnail:hover div.lay{
  opacity: 1;
}

div.top_image:hover div.laya{
  opacity: .9;
}

div.text {
  color: white;
  font-size: 3.5vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text2 {
    color: white;
  font-size: 2vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.text3 {
  color: white;
  font-weight: bold;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 600px){
    div.text, div.text2 {
  width: 90%;
  color: white;
  font-size: 7vw;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
     }
}


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
