<!DOCTYPE html>
	<html>
		<head>
			<link rel="icon" 
      			type="image/png" 
      			href="/myicon.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<!DOCTYPE html>
			<meta name="viewport" content="width=device-width,initial-scale=1.0">
			<!-- js -->
			<script src="js/classie.js"></script>
			<script>
   			 function init() {
        			window.addEventListener('scroll', function(e){
          			  var distanceY = window.pageYOffset || document.documentElement.scrollTop,
             			   shrinkOn = 170,
              			  nav = document.querySelector("nav");
           			 if (distanceY > shrinkOn) {
              				  classie.add(nav,"smaller");
           			 } else {
              			  if (classie.has(nav,"smaller")) {
                 		   classie.remove(nav,"smaller");
            				    }
       					     }
      					  });
    					}
    				window.onload = init();
			</script>

		</head>
		
		<body>
			<nav>
	    			<ul>
	        			<li><a href="/"> Home</a></li>
		        		<li><a href= "/about"> About</a></li>
            
             				<a href="mailto:jaxtrell@gmail.com">
             				<li id="logo"> 
                				<div class="top_image">
            					<img src="http://www.jacksoncantrell.com/jacksoncantrell2.jpg" alt="logo" />					
            						<div class="laya">
               							<div class="text3">Email</div>
            						</div>
           					</div>
					</li>
              				</a>
            				
               
               
	        			<li><a href="/cv"> CV</a></li>
	        			<li><a href="/blog"> Blog</a></li>
        
	    			</ul>
			</nav>  
			

			<div class="container">

				{{ content }}
			
			</div><!-- /.container -->

			<footer>
				<ul>
					<li><a href="mailto:jaxtrell@gmail.com">email</a></li>
					<li><a href="https://github.com/jacksoncantrell">github.com/jacksoncantrell</a></li>
				</ul>
			</footer>
		</body>
	</html>
