<!DOCTYPE html>
	<html>
		<head>
			<link rel="icon" 
      			type="image/png" 
      			href="/myicon.png">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
				<li id = topimage> <img src= "/jacksoncantrell.jpg", alt = "Jackson Cantrell";>
				</li>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jaxtrell@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jacksoncantrell">github.com/jacksoncantrell</a></li>
				</ul>
			</footer>
		</body>
	</html>
